/* Reset CSS */
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #848084;
}

#container {
    width: 350px;
    padding: 15px;
    background-color: #142F44;
    border-radius: 10px;
}

/* Display */
.screen {
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #205B7A;
    color: white;

    border-radius: 6px;
    font-size: 25px;
}

/* All button sections */
.button {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Number buttons */
.numberBtn {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.numberBtn button {
    width: calc(33.33% - 5px);
}

/* Operators */
.operatorBtn {
    width: calc(25% - 5px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operatorBtn button {
    flex: 1;
}

/* Clear buttons */
.clearBtn {
    width: 100%;
    display: flex;
    gap: 5px;
}

.clearBtn button {
    flex: 1;
}

/* General buttons */
button {
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;

    background-color: #1D3849;
    color: white;
}

/* Operators */
.operatorBtn button {
    background-color: #A2BBCF;
    color: #142F44;
}

/* Equal button */
.numberBtn button:last-child {
    background-color: #A2BBCF;
    color: #142F44;
}

/* Clear / Backspace */
.clearBtn button {
    background-color: #A2BBCF;
    color: #142F44;
}

button:hover {
    opacity: 0.85;
}

footer {
    margin-top: 15px;
    font-size: 14px;
    color: #394a58;
    text-align: center;
}